@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@media only screen and (max-width: 480px) {
    /* horizontal scrollbar for tables if mobile screen */
    .tablemobile {
        overflow-x: auto;
        display: block;
    }
}

.fa {
    vertical-align: middle;
    color: white;
    float: right;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1vmax;
    width: 3vmax;
    text-align: center;
    text-decoration: none;
    margin-top: 5%;
    margin-bottom: 5px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.3;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
